.tag {
    padding: 5px;
    background-color: #95A5B2;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F7F8F9;
}