@import './mixins.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .15s ease-in-out;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}

body {
    background: #FAFAFA;
    overflow-x: hidden;
}

.hide {
    display: none !important;
}