.tag {
    padding: 0px;
    background: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 5px;
    line-height: 11px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #95A5B2;
    cursor: pointer;
}