.point-menu {
    .point-menu-text {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        display: flex;
        align-items: center;
        color: #6B8397;
        &.active {
            color: #0070FB;
            transform: scale(1.1);
        }
    }
}